*{
    margin: 0px;
}

body{
    background-color: antiquewhite;
}

nav{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: brown;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin: 0 30 0 0;
}

a{
    text-decoration: none;
    color: white;
}

h1 {
    color: brown;
}

h2{
    color: cadetblue;
}